<form action="/cart" method="POST" class="js-add-to-cart" data-add-to-cart="1">
    <button type="submit" class="btn">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>" />
</form>